body {
  margin: 0;
  font-family: sans-serif;
}
h1 {
  margin: 0;
  padding: 1rem;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  background-color: #ef9167;
  height: fit-content;
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  
}
nav ul li a {
  color: white;
  text-decoration: none;
}
nav ul li a:hover{
  color: #ffdfb8;
}

nav ul li {
  padding: 1rem;
}
nav ul li:last-child{
  margin-left:auto ;
  padding-right: 2rem;
}

nav input {
  border: none;
  padding: 1rem;
}
nav input:focus{
  outline: none;
}